body {
    margin: 20px;
    font-family: optima;
}

.avatar {
    width: 140px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffd6ff;
    color: #0d3b66;
    border-bottom: 15px solid #c8b6ff;
    border-top: 15px solid #c8b6ff;
    border-right: 15px solid #c8b6ff;
    border-left: 15px solid #c8b6ff;
    border-radius: 30px
  
    
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
